<%- include('partials/header') %>

    <section>
        <div class="main">
            <div class="heading-title">
                <h1>Welcome to the Order Flow! 🎉</h1>
            </div>

            <div class="login-options">
                <div class="option">
                    <a href="/auth/manufacturer/login">Manufacturer Login</a>
                </div>

                <div class="option">
                    <a href="/auth/transporter/login"> Transporter Login </a>
                </div>
            </div>

            <div class="register-option">
                <h5>New user? <a href="/auth/register"> Register here</a></h5>
            </div>
        </div>
    </section>



    <%- include('partials/footer') %>